{% extends 'base.html' %}
{% block title %}Page Title{% endblock title %}
{% block main %}

<div class="jumbotron">
      <h1>About Coding Dojo </h1>
      <p class="lead">We do the coding dojo to practice pair programming and to get a sense of coding challenges. By working together we will achieve excellence</p>
      <p><a class="btn btn-lg btn-success" href="http://bit.ly/JCUMVPCLUB" role="button">Sign up with the MVP Club</a></p>
</div>
<div>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3988.7656908870413!2d103.8740857148316!3d1.3161590620492094!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31da1831b3334157%3A0xef2b9a5526ac77ad!2sJames+Cook+University!5e0!3m2!1sen!2ssg!4v1541644467292" width="600" height="450" frameborder="0" style="border:0" allowfullscreen>
    </iframe>
</div>


  {% endblock main %}