ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}
.logo{

    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    margin-right: 60%;
}
.center{
    text-align: center;
}

.headtext{
    float: left;
    padding-top: 10px;
}
.footer{
    background-color: #f1f1f1;
    padding: 10px;
    text-align: center;
}
.content{
    height: 60%
}